.scrolled-down .col-2, .sidebar-content-left {
  font-size: 15px;
  font-size: "Roboto", "Helvetica Nue", sans-serif;
}

.text-white {
  color: white;
}

.flex-parent {
  display: flex;
  font-family: "Roboto", "Helvetica Nue", sans-serif;
  height: 100vh;
}
.flex-parent .flex-child-left {
  background: #FFFFFF;
  box-sizing: border-box;
  width: 21.7060810811%;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.flex-child-right {
  background: #EEEEEE;
  width: 78.2939189189%;
}
.flex-child-right .right-side {
  height: calc(100vh - 79px);
  margin-top: 15px;
  margin-right: 19px;
  margin-left: 64px;
  margin-bottom: 23px;
}

.sidebar-content-left {
  padding: 24px;
  color: #4D4D4E;
  display: flex;
  flex-direction: column;
}
.sidebar-content-left p {
  -webkit-margin-start: 2em;
          margin-inline-start: 2em;
}
.sidebar-content-left .flex {
  display: flex;
}
.sidebar-content-left .section-top {
  margin-bottom: 0.5rem;
}
.sidebar-content-left .line {
  border-bottom: 1px solid #D6D5D5;
}
.sidebar-content-left .section-end {
  margin-top: 0.5rem;
}

.scrolled-down .col-2, .sidebar-content-left {
  font-size: 15px;
  font-size: "Roboto", "Helvetica Nue", sans-serif;
}

.header {
  background-color: #2196F3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  min-height: 64px;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.flex {
  display: flex;
}

.wrapper-central {
  overflow: scroll;
  margin-right: 15px;
  width: 63.6824324324%;
}

.scrolled-down {
  background: #FFFFFF;
  box-sizing: border-box;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 18px;
}
.scrolled-down .col-1 .flex {
  display: flex;
  flex-direction: column;
}
.scrolled-down .col-1 .star-pink {
  margin-top: 27px;
  margin-bottom: 220px;
}
.scrolled-down .col-1 .alfa {
  margin-top: 0px;
  margin-bottom: 393px;
  width: 16px;
  height: 28px;
}
.scrolled-down .col-1 .beta {
  width: 15px;
  height: 27px;
}
.scrolled-down .col-2 {
  width: 100%;
  color: #4D4D4E;
  display: flex;
  flex-direction: column;
}
.scrolled-down .col-2 p {
  -webkit-margin-start: 2em;
          margin-inline-start: 2em;
}
.scrolled-down .col-2 .flex {
  display: flex;
}
.scrolled-down .col-2 .section-top {
  margin-bottom: 0.5rem;
}
.scrolled-down .col-2 .line {
  border-bottom: 1px solid #D6D5D5;
}
.scrolled-down .col-2 .section-end {
  margin-top: 0.5rem;
}

.dialog {
  margin: 20px;
}
.dialog .dialog-avatar {
  width: 39px;
  height: 39px;
}

.sidebar-content-right {
  background: #FFFFFF;
  box-sizing: border-box;
  width: 36.4864864865%;
  white-space: nowrap;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 18px;
}

.avatar-container {
  height: 15%;
  background-size: 100% 100%;
  padding: 18px;
  padding-top: 24px;
  font-size: 14px;
}
.avatar-container .avatar {
  border-radius: 100px;
}
