
          .avatar-container {
           height: 15%;
           background-size: 100% 100%;
           padding: $space;
           padding-top: 24px;
           font-size: 14px;
  
           .avatar {
              border-radius: $round;
            } 
          }
          
  
    
  