$round:100px; 
$space:18px; 
$grey:#4D4D4E;
$blue:#2196F3;


%text-md{
    font-size: 15px;
    font-size: "Roboto", "Helvetica Nue", sans-serif;
}


.header {
    background-color: $blue;
    height: 64px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
     .f-icone {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        

     }
       .f-menu {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        margin-left: 24px;
        margin-right: 24px;
    }
}


