.sidebar-content-right {  
    background: #FFFFFF;
    box-sizing: border-box;
    width: calc(432 / 1184 *100%);
    white-space: nowrap; 
    flex-wrap: nowrap;
    flex-direction: row;
    padding: $space;
   }

   