.sidebar-content-right {  
    background: #FFFFFF;
    box-sizing: border-box;
    width: 50%; 
    flex-wrap: nowrap;
    flex-direction: row;

     .avatar {
         width: 100%;
     }
   }

   
   .col-4
   {
       padding: $space;

       .f-list {
           
           flex-basis: 80%;
           
       }

         .contacts {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
         }
           p {
            margin: 0px;
           }
            .f-icon {
            width: 18px;
            flex-basis: 20%;
           }

           .section-top {
            margin-bottom: 0.5rem;
            }
            .line {
              border-bottom: 1px solid #D6D5D5;
            
            }
              .section-end {
                margin-top: 0.5rem;
               }

               .section-middle {
                   margin-top: 1.5rem;
               }
   }

   .text-lg {
    @extend %text-lg;
   }

   .text-sm {
    @extend %text-sm;
   }

   .col-3 {
     .f-icon-start {
      display: flex;
      justify-content: space-between;
      flex-basis: 90%;
     }
       .f-icon-end {
        display: flex;
        flex-basis: 2%;
       }
  
   }

   .hangout {
    margin-left: 15px;
  }

  @media only screen and (max-width:  1184px) {
    .sidebar-content-right { 
        width: 56%;
    }

  }

 